@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  font-size: 16pt;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  font-family: roboto, 'san-serif';
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000008c), to(#0000008c)), url(../IMG/header.jpg);
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../IMG/header.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 640px;
}

.container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.container .nav img {
  height: 100%;
  width: 50px;
  -webkit-animation: .8s izquierda linear;
          animation: .8s izquierda linear;
}

@-webkit-keyframes izquierda {
  to {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
    opacity: 0;
  }
  from {
    -webkit-transform: translatex(-100%);
            transform: translatex(-100%);
    opacity: 9;
  }
}

@keyframes izquierda {
  to {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
    opacity: 0;
  }
  from {
    -webkit-transform: translatex(-100%);
            transform: translatex(-100%);
    opacity: 9;
  }
}

.container .nav #btnmenu {
  display: block;
}

.container .nav #btnmenu a {
  text-decoration: none;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  padding: 8px;
  border-radius: 5px;
}

.container .nav .nav__items {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0%;
  bottom: 0;
  visibility: hidden;
  background: #282828;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .nav .nav__items i {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
  color: #f1f1f1;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.container .nav .nav__items .nav-link {
  padding: 10px 15px;
  list-style: none;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.container .nav .nav__items .nav-link .nav-linkitem {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 18px;
}

.container .nav .nav__items .nav-link:hover {
  background: #2e2e2e;
}

.container .nav .nav__items.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: visible;
  opacity: 9;
}

.container .container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  height: 560px;
  gap: 20px;
}

.container .container-content .container-column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .container-content .container-column1 .container__h1 {
  font-size: 28px;
  text-align: center;
  color: #f1f1f1;
  margin-bottom: 20px;
  font-weight: normal;
  -webkit-animation: movimiento-left .7s linear;
          animation: movimiento-left .7s linear;
}

.container .container-content .container-column1 .container__figure {
  max-width: 280px;
  margin-bottom: 10px;
  max-height: 200px;
  -webkit-animation: movimiento-left .7s linear;
          animation: movimiento-left .7s linear;
}

.container .container-content .container-column1 .container__figure img {
  width: 100%;
  height: 100%;
}

.container .container-content a {
  text-align: center;
  border: 1px solid #f1f1f1;
  text-decoration: none;
  padding: 10px 15px;
  color: #f1f1f1;
  border-radius: 10px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.container .container-content a:hover {
  background: #f1f1f1;
  color: #0D0D0D;
}

.container .container-content .container-column2 {
  width: 100%;
  max-width: 400px;
  padding: 0 10px;
  background: #ffffff;
  border-radius: 10px;
  padding-bottom: 20px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  overflow: scroll;
  height: auto;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  opacity: 0;
  -webkit-box-shadow: 5px 10px 15px #28282885;
          box-shadow: 5px 10px 15px #28282885;
  -webkit-animation: .7s derecha linear;
          animation: .7s derecha linear;
}

.container .container-content .container-column2 a {
  float: right;
  color: #0D0D0D;
  border: 1px solid #0D0D0D;
  padding: 5px;
  margin: 10px 5px;
  position: absolute;
  right: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.container .container-content .container-column2 h2 {
  width: 100%;
  margin: 50px 0 20px 0;
  text-align: center;
  color: #0D0D0D;
}

.container .container-content .container-column2 p {
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: justify;
  color: #0D0D0D;
}

.container .container-content .container-column2 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 20px;
}

.container .container-content .container-column2 form input {
  outline: none;
  border: none;
  border-bottom: 1px solid #0D0D0D;
  background: transparent;
  color: #0D0D0D;
  font-size: 14px;
  height: 35px;
}

.container .container-content .container-column2 form input:focus {
  color: #0D0D0D;
  border-bottom: 1px solid #1f74ba;
}

.container .container-content .container-column2 form input:focus::-webkit-input-placeholder {
  color: #1f74ba;
}

.container .container-content .container-column2 form input:focus:-ms-input-placeholder {
  color: #1f74ba;
}

.container .container-content .container-column2 form input:focus::-ms-input-placeholder {
  color: #1f74ba;
}

.container .container-content .container-column2 form input:focus::placeholder {
  color: #1f74ba;
}

.container .container-content .container-column2 form .nombre.blue, .container .container-content .container-column2 form .correo.blue, .container .container-content .container-column2 form .pais.blue, .container .container-content .container-column2 form .ciudad.blue, .container .container-content .container-column2 form .codigo.blue, .container .container-content .container-column2 form .numero.blue {
  color: #1f74ba;
  border-bottom: 1px solid #1f74ba;
}

.container .container-content .container-column2 form .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .container-content .container-column2 form .number input:nth-child(1) {
  width: 15%;
}

.container .container-content .container-column2 form .number input:nth-child(2) {
  width: 82%;
}

.container .container-content .container-column2 form .number .paragraph-alert {
  width: 100%;
  color: #a10f0f;
  -webkit-transition: 5s ease;
  transition: 5s ease;
  display: none;
}

.container .container-content .container-column2 form select {
  border: none;
  border-bottom: 1px solid #0D0D0D;
  font-size: 14px;
  height: 50px;
  outline: none;
}

.container .container-content .container-column2 form select:focus {
  border-bottom: 1px solid #1f74ba;
  color: #1f74ba;
}

.container .container-content .container-column2 form select option {
  padding: 10px;
  height: 50px;
}

.container .container-content .container-column2 form .select.blue {
  color: #1f74ba;
  border-bottom: 1px solid #1f74ba;
}

.container .container-content .container-column2 form input:nth-child(7) {
  display: inline-block;
  -ms-grid-column-align: center;
      justify-self: center;
  border: none;
  background-color: #1f74ba;
  color: #f1f1f1;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px 0 0 0;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.container .container-content .container-column2.visible {
  visibility: visible;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  opacity: 9;
}

.section {
  margin: 20px auto;
  padding: 0 10px;
  font-family: rubik, 'san-serif';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  overflow: hidden;
}

.section .subtitle {
  width: 100%;
  color: #282828;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  margin: 20px 0;
}

.section .section-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  max-width: 350px;
  margin: 20px 20px;
  opacity: 0;
  -webkit-transition: 2.5s ease;
  transition: 2.5s ease;
}

.section .section-article i {
  width: 100%;
  margin: 10px 0;
  color: #1f74ba;
  font-size: 22px;
  text-align: center;
}

.section .section-article .article__h3 {
  margin: 15px 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #282828;
}

.section .section-article .article__paragraph {
  text-align: justify;
  font-size: 14px;
  line-height: 25px;
  color: #282828;
}

.price {
  margin: 20px 0;
  padding: 0 0px;
  font-family: rubik, 'san-serif';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.price .subtitle {
  width: 100%;
  color: #282828;
  font-size: 24px;
  text-align: center;
  letter-spacing: 1px;
  margin: 20px 0;
}

.price .rate {
  width: 100%;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 8px 5px 18px #0d0d0d69;
          box-shadow: 8px 5px 18px #0d0d0d69;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: auto;
  opacity: 0;
  -webkit-transition: 2.5s ease;
  transition: 2.5s ease;
}

.price .rate .rate__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price .rate .rate__content .rate__h3 {
  margin: 10px 0 0px 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.price .rate .rate__content img {
  width: 80%;
  height: 200px;
  margin: 5px auto 10px auto;
}

.price .rate .rate__content .rate__h4 {
  font-size: 42px;
  text-align: center;
  width: 100%;
}

.price .rate .rate__content .rate__h4 span {
  text-align: center;
  font-size: 18px;
}

.price .rate .rate__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  font-size: 14px;
  max-width: 80%;
  margin: 20px 0 0px 0;
}

.price .rate .rate__description span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price .rate .rate__description span img {
  margin-right: 5px;
}

.price .rate .rate__payment {
  margin: 20px 0;
  text-align: center;
  width: 100%;
}

.price .rate .rate__payment span {
  font-size: 18px;
  font-weight: bold;
}

.price .rate .rate__payment .rate__payment-img {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.price .rate .rate__payment .rate__payment-img img {
  margin: 0 5px;
  width: 30px;
  height: 30px;
}

.clip-path {
  background: #2e2e2e;
  height: 250px;
  border: none;
  outline: none;
  width: 100%;
  -webkit-clip-path: polygon(100% 59%, 0% 100%, 100% 100%);
  clip-path: polygon(100% 59%, 0% 100%, 100% 100%);
  z-index: 1;
  margin-bottom: -1px;
}

.footer {
  z-index: 2;
  padding: 0 10px;
  font-family: rubik, 'san-serif';
  background: #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.footer .footer-column1,
.footer .footer-column2,
.footer .footer-column3,
.footer .footer-column4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-width: 325px;
  width: 100%;
}

.footer .footer-column1 {
  margin: 20px 0;
  opacity: 0;
  -webkit-transition: 2.5s ease;
  transition: 2.5s ease;
}

.footer .footer-column1 .column1-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer .footer-column1 .column1-information .column1-h3 {
  text-align: center;
  color: #f1f1f1;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 10px 0;
}

.footer .footer-column1 .column1-information hr {
  width: 30%;
  margin: 5px auto 10px auto;
  border: 2px solid #1f74ba;
}

.footer .footer-column1 .column1-information .column1-paragraph {
  text-align: justify;
  color: #f1f1f1;
  font-size: 16px;
  line-height: 20px;
}

.footer .footer-column1 .column1-attention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  gap: 10px;
  margin: 10px 0 5px 0;
}

.footer .footer-column1 .column1-attention .attention-paragraph {
  text-align: justify;
  font-size: 16px;
  color: #f1f1f1;
  line-height: 20px;
}

.footer .footer-column1 .column1-attention .fas {
  font-size: 16px;
  color: #1f74ba;
}

.footer .footer-column1 .column1-attention .fas span {
  padding-left: 15px;
  font-size: 16px;
  color: #f1f1f1;
  font-weight: bold;
  text-align: justify;
}

.footer .footer-column2 {
  margin: 20px 0;
  opacity: 0;
  -webkit-transition: 2.5s ease;
  transition: 2.5s ease;
}

.footer .footer-column2 .column2-h3 {
  margin: 10px 0;
  text-align: center;
  color: #f1f1f1;
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
}

.footer .footer-column2 hr {
  width: 40%;
  margin: 5px auto 10px auto;
  border: 2px solid #1f74ba;
}

.footer .footer-column2 .column2__navegation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 10px auto;
}

.footer .footer-column2 .column2__navegation .navegation__link {
  list-style: none;
  padding: 5px 0;
}

.footer .footer-column2 .column2__navegation .navegation__link .navegation__linkitem {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 16px;
  text-align: left;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.footer .footer-column2 .column2__navegation .navegation__link .navegation__linkitem:hover {
  text-decoration: underline;
  color: #c9c9c9;
}

.footer .footer-column3 {
  opacity: 0;
  -webkit-transition: 2.5s ease;
  transition: 2.5s ease;
  margin: 20px 0;
}

.footer .footer-column3 .column3-h3 {
  margin: 10px 0;
  text-align: center;
  color: #f1f1f1;
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
}

.footer .footer-column3 hr {
  width: 30%;
  margin: 5px auto 10px auto;
  border: 2px solid #1f74ba;
}

.footer .footer-column3 .column3__navegation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0 auto;
}

.footer .footer-column3 .column3__navegation .navegation__linkitem {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 16px;
  text-align: left;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  margin: 10px 0;
}

.footer .footer-column3 .column3__navegation .navegation__linkitem:hover {
  text-decoration: underline;
  color: #c9c9c9;
}

.footer .footer-column4 {
  opacity: 0;
  -webkit-transition: 2.5s ease;
  transition: 2.5s ease;
  margin: 20px 0;
}

.footer .footer-column4 .column4-h3 {
  margin: 10px 0;
  text-align: center;
  color: #f1f1f1;
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
}

.footer .footer-column4 hr {
  width: 40%;
  margin: 5px auto 10px auto;
  border: 2px solid #1f74ba;
}

.footer .footer-column4 .column4__quote {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-column4 .column4__quote .column4__paragraph {
  text-align: justify;
  color: #f1f1f1;
  font-size: 16px;
  margin: 10px 0;
  line-height: 20px;
}

.footer .footer-column4 .column4__quote .column4__whatsapp {
  margin: 20px auto 40px auto;
  color: #f1f1f1;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  background: #1f74ba;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.footer .footer-column4 .column4__quote .column4__whatsapp i {
  font-size: 28px;
  padding-right: 5px;
}

.footer .footer-column4 .column4__quote .column4__whatsapp:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.footer-end {
  border-top: 5px solid #1f74ba;
  background: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: rubik, 'san-serif';
  padding: 10px 10px;
  overflow: hidden;
}

.footer-end .footer-copyright .copyright-paragraph {
  color: #f1f1f1;
  font-size: 18px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  line-height: 25px;
  margin: 10px 0;
}

.footer-end .footer-copyright:hover {
  color: #c9c9c9;
}

.footer-end .footer-social .social__icon {
  margin: 5px;
  color: #f1f1f1;
  text-decoration: none;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.footer-end .footer-social .social__icon:hover {
  color: #c9c9c9;
}

.fixed-icon {
  font-family: rubik, 'san-serif';
  position: fixed;
  right: 10px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #3fc481;
  padding: 10px 10px;
  border-radius: 10px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  -webkit-animation: movimiento-right 1s linear;
          animation: movimiento-right 1s linear;
}

.fixed-icon .icon__whatsapp {
  color: #f1f1f1;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.fixed-icon .icon__h2 {
  padding: 0 10px;
  font-size: 18px;
  color: #f1f1f1;
  display: none;
}

.fixed-icon:hover {
  background: #5fd3b0;
}

.fixed-icon:hover .icon__whatsapp {
  color: #ffffff;
}

@media (min-width: 720px) {
  .container {
    height: 700px;
  }
  .container .nav {
    height: 80px;
  }
  .container .nav img {
    width: 120px;
    height: 100%;
  }
  .container .container-content {
    -ms-flex-line-pack: center;
        align-content: center;
    height: 620px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .container-content .container-column1 .container__h1 {
    font-size: 48px;
  }
  .container .container-content .container-column1 .container__figure {
    max-width: 500px;
    max-height: 150px;
  }
  .container .container-content .container-column1 .container__figure img {
    width: 100%;
    height: 100%;
  }
  .container .section .subtitle {
    font-size: 28px;
  }
}

.footer-end .footer-social {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1024px) {
  .container {
    margin-bottom: 200px;
  }
  .container .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container .nav #btnmenu {
    display: none;
  }
  .container .nav .nav__items {
    position: inherit;
    opacity: 9;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    visibility: visible;
    background: transparent;
    -webkit-animation: .8s derecha linear;
            animation: .8s derecha linear;
  }
  .container .nav .nav__items .fas {
    display: none;
  }
  .container .nav .nav__items .nav-link .nav-linkitem {
    z-index: 5;
  }
  @-webkit-keyframes derecha {
    to {
      -webkit-transform: translatex(0%);
              transform: translatex(0%);
      opacity: 0;
    }
    from {
      -webkit-transform: translatex(100%);
              transform: translatex(100%);
      opacity: 9;
    }
  }
  @keyframes derecha {
    to {
      -webkit-transform: translatex(0%);
              transform: translatex(0%);
      opacity: 0;
    }
    from {
      -webkit-transform: translatex(100%);
              transform: translatex(100%);
      opacity: 9;
    }
  }
  .container .container-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .container .container-content .container-column1 {
    max-width: 550px;
    margin-right: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .container .container-content .container-column1 .container__h1 {
    font-size: 48px;
  }
  .container .container-content .container-column1 .container__figure {
    max-width: 600px;
    height: 300px;
    max-height: 300px;
  }
  .container .container-content .container-column1 .container__figure img {
    height: 100%;
    width: 100%;
  }
  .container .container-content a {
    display: none;
  }
  .container .container-content .container-column2 {
    visibility: visible;
    opacity: 9;
    overflow: visible;
    position: inherit;
    margin-bottom: -120px;
  }
  .section {
    margin: 40px auto;
  }
  .section .subtitle {
    font-size: 28px;
  }
  .section .section-article .far,
  .section .section-article .fas {
    font-size: 32px;
  }
  .section .section-article .article__h3 {
    font-size: 22px;
  }
  .section .section-article .article__paragraph {
    font-size: 18px;
  }
  .price .subtitle {
    font-size: 28px;
  }
  .price .rate .rate__content .rate__h3 {
    font-size: 22px;
  }
  .price .rate .rate__content .rate__h4 {
    font-size: 48px;
  }
  .price .rate .rate__content .rate__h4 span {
    font-size: 20px;
  }
  .price .rate .rate__description span {
    font-size: 16px;
  }
  .price .rate .rate__payment span {
    font-size: 22px;
  }
  .fixed-icon {
    bottom: 40px;
    right: 20px;
  }
  .fixed-icon .icon__h2 {
    display: block;
  }
  .footer-end {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@-webkit-keyframes movimiento-left {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    opacity: 0;
  }
}

@keyframes movimiento-left {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes movimiento-right {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
    opacity: 0;
  }
}

@keyframes movimiento-right {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
    opacity: 0;
  }
}

@-webkit-keyframes movimiento-top {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes movimiento-top {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
}
/*# sourceMappingURL=estilos.css.map */
